<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WaranOEType1.setUp()[pri:0, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:52</td>   <td>15946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WaranOEType1.testTitle()[pri:0, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">testTitle</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:53</td>   <td>16161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WaranOEType1.startUpFields()[pri:1, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">startUpFields</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:59</td>   <td>22415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WaranOEType1.createTambah()[pri:2, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">createTambah</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:59</td>   <td>22421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WaranOEType1.otherFields()[pri:3, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">otherFields</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:59</td>   <td>22430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WaranOEType1.search()[pri:4, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">search</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:59</td>   <td>22437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WaranOEType1.successReview()[pri:5, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">successReview</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:59</td>   <td>22444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WaranOEType1.afterReview()[pri:6, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">afterReview</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:59</td>   <td>22451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WaranOEType1.approval()[pri:7, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">approval</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>16/11/28 13:12:59</td>   <td>22457</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WaranOEType1.quit()[pri:0, instance:com.aeq.OE.WaranOEType1@6d4b1c02]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
</table>
